@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}
body {
    background-image: linear-gradient(to right, #F3EFE5,#E9DFC7) ;
}
main{
    background-color: white;
    border-radius: 1%;
    box-shadow: 1px 1px 15px rgb(14, 12, 93);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 { 
    color:#d1a75f ;
    text-align: center;
    text-shadow: 1px 1px 0px #7c510685 ;
}
h2{
    color:#503d1d ;
}
p {
    text-align: justify;
}
